body {
  margin: 0;
  background-color: rgb(0, 0, 0);
}

canvas {
  z-index: -1;
}

.wrap {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow:hidden;
  margin: 0;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

h1 {
  font-size: 6vw;
  text-align: center;
  /* font-family: 'Lobster', cursive; */
  font-family: 'Baloo Thambi 2', cursive;
  margin: 0px;
  padding: 10px;
  padding-bottom: 0px;
  color: white;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

.projects {
  
}

h2 {
  font-size: 3vw;
  margin: 0px;
  padding: 10px;
  padding-top: 0px;
  color: white;
  font-family: 'Baloo Thambi 2', cursive;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;

}

span {
  /* color: rgb(240, 128, 128); */
  color: rgb(224, 17, 95);
  font-family: 'Pacifico', cursive;
}

nav {
  background-color: black;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2vw;
}


/* img {
  width: 390px;
  height: 240px;
} */

.button {
  padding: 20px;
  margin: 60px;
  background-color: white;
  color: black;
  font-family: 'Cambay', sans-serif;
  font-size: 1.5vw;
}

.button:hover {
  box-shadow:
  0 0 30px 10px rgb(35, 156, 120),
  0 0 40px 35px rgb(87, 173, 159);
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 390px;
  height: 240px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(93, 93, 93);
  color: black;
}


/* Style the back side */
.flip-card-back {
  background-color: rgb(233, 132, 1);
  transform: rotateY(180deg);
}