/* ! Project 2 page */
* {
  margin: 0;
}

section {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  background-color: black;
}

/* .section1 {
  background-color: coral;

}

.section2 {
  background-color: darkcyan;

} */

.title {
  background-color: black;
  width: 100vw;
  height: 10%;
}

.h2-div {
  height: 10%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  /* position: fixed; */
}

h2 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 35px 15px;
}

.skew {
  position: relative;
  background: rgb(35,156,120);
  background: linear-gradient(51deg, rgba(35,156,120,1) 0%, rgba(254,17,95,1) 100%);
  width: 100%;
  height: 85%;
  transform: skewY(20deg);
  z-index: 3;
}


.img-div {
  width: 100%;
  height: 100%;
  transform: skewY(-20deg);
}

.tech {
  position: absolute;
  /* background-color: rgb(6, 65, 59); */
  top: 0%;
  left: 5%;
  color: white;
  font-size: 8vw;
  width: 70%;
  height: 20%;
  padding: 10px 0px;
}

.polygon-tech {
  float: right;
  shape-outside: polygon(20% 0, 100% 0, 100% 80%);
  clip-path: polygon(20% 0, 100% 0, 100% 80%);
  height: 100%;
  width: 100%;
  /* background: linear-gradient(to top right, #86F7CC, #67D7F5); */
}

i {
  margin: 10px;
}

h3 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5vw;
  position: absolute;
  top: 26%;
  left: 5%;
}

img {
  max-width: 90%;
  position: absolute;
  top: 35%;
  left: 5%;
}


.more-info {
  position: absolute;
  top: 70%;
  right: 5%;
  width: 50%;
  height: 40%;
}

.more-info-btn {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 80%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: 5%;
  right: 5%;
  /* margin-top: 10%; */
}

.more-info-content {
  display: none;
  position: absolute;
  top: 18%;
  width: 100%;
  height: 90%;
  /* background-color: rgb(94, 238, 37); */
}

.show {
  display: block;
}

.info-para {
  padding: 0px 10px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 80%;
}

.polygon-info {
  float: left;
  shape-outside: polygon(0% 50%, 100% 85%, 0% 60%);
  clip-path: polygon(0% 50%, 100% 85%, 0% 60%);
  height: 100%;
  width: 100%;
  /* background: linear-gradient(to top right, #86F7CC, #67D7F5); */
}

@media only screen and (min-width: 450px) {
  section {
    height: 110vh;
  }

  .skew {
    height: 80%;
  }

  .more-info {
    top: 75%;
  }
}

@media only screen and (min-width: 550px) {
  .tech {
    font-size: 6vw;
  }

  .skew {
    transform: skewY(15deg);
  }

  .img-div {
    transform: skewY(-15deg);
  }

  .more-info {
    /* position: absolute; */
    top: 81%;
    width: 40%;
  }
}

/* ! Screen size upwards of 650 */
@media only screen and (min-width: 650px) {
  .tech {
    top: -8%;
    font-size: 5vw;
  }

  h3 {
    top: 14%;
  }

  img {
    top: 23%;
  }

  .more-info {
    top: 80%;
  }

}

@media only screen and (min-width: 750px) {
  .skew {
    transform: skewY(11deg);
  }

  .img-div {
    transform: skewY(-11deg);
  }

  .more-info {
    top: 83%;
    /* width: 40%; */
  }

}

@media only screen and (min-width: 850px) {
  .tech {
    top: -7%;
    font-size: 4vw;
  }

  h3 {
    top: 50%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.596);
    color: rgb(209, 209, 209);
    padding: 10px;
    z-index: 8;
  }

  img {
    top: 15%;
    left: 15%;
    max-width: 80%;
  }

  .more-info {
    top: 81%;
    width: 50%;
  }

  .info-para {
    font-size: 100%;
  }

  .more-info-btn {
    font-size: 100%;
  }

}

@media only screen and (min-width: 950px) {
  .tech {
    width: 30%;
    left: 2%;
  }

  img {
    top: 8%;
    left: 25%;
    max-width: 70%;
  }

  h3 {
    top: 40%;
    left: 10%;
  }

  .info-para {
    font-size: 110%;
  }

  .more-info-btn {
    font-size: 110%;
  }

}

@media only screen and (min-width: 1050px) {
  section {
    height: 115vh;
  }

  .skew {
    transform: skewY(13deg);
    height: 75%;
  }

  .tech {
    width: 10%;
    height: 30%;
    top: -25%;
  }

  .img-div {
    transform: skewY(-13deg);
  }

  img {
    top: 5%;
    left: 20%;
    max-width: 75%;
  }

  h3 {
    left: 5%;
  }

  .more-info {
    top: 75%;
    width: 40%;
  }

  .info-para {
    font-size: 140%;
  }

  .more-info-btn {
    font-size: 140%;
  }

}

@media only screen and (min-width: 1150px) {
  section {
    height: 115vh;
  }

  .skew {
    transform: skewY(10deg);
    height: 80%;
  }

  .img-div {
    transform: skewY(-10deg);
  }

  img {
    top: 0%;
    left: 22%;
    max-width: 70%;
  }

  h3 {
    top: 50%;
    left: 8%;
  }

  .tech {
    top: -20%;
  }

  .more-info {
    top: 80%;
    width: 40%;
  }

}